<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>UD. DHA | SUPPLIER</title>
	<link rel="stylesheet" type="text/css" href="..\CSS\style.css">
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="navbar">
				<div class="logo">
					<a href="index.html"><img src="..\Image\v1.png" width="150px"></a>
				</div>
				<nav>
					<ul id="MenuItems">
						<li><a href="index.html">Home</a></li>
						<li><a href="products.html">Products</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Account</a></li>
					</ul>
				</nav>
				<a href="cart.html"><img src="..\Image\cart.png" width="30px;" height="30px;"></a>
				<img src="..\Image\menu.png" class="menu-icon" onclick="menutoggle()">
			</div>
			<div class="row">
				<div class="col-2">
					<p class="desc">Need Supply?</p>
					<h1>Get it on UD. DHA</h1>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<a href="#" class="btn">Explore Now &#8594;</a>
				</div>
				<div class="col-2">
					<img src="..\Image\supplier.jpg">
				</div>
			</div>
		</div>
	</div>

<!------- kategori unggulan ------->

	<div class="kategori">
		<div class="sml-container">
			<div class="row">
				<div class="col-3">
					<img src="..\Image\freon.jpg">
				</div>
				<div class="col-3">
					<img src="..\Image\freon.jpg">
				</div>
				<div class="col-3">
					<img src="..\Image\freon.jpg">
				</div>
			</div>
		</div>
	</div>

<!------- produk unggulan ------->

	<div class="sml-container">
		<h2 class="title">Featured Products</h2>
		<div class="row">
			<div class="col-4">
				<img src="..\Image\freon.jpg">
				<h4>Freon 22</h4>
				<p>Rp. 300.000</p>
			</div>
			<div class="col-4">
				<img src="..\Image\freon.jpg">
				<h4>Freon 22</h4>
				<p>Rp. 300.000</p>
			</div>
			<div class="col-4">
				<img src="..\Image\freon.jpg">
				<h4>Freon 22</h4>
				<p>Rp. 300.000</p>
			</div>
			<div class="col-4">
				<img src="..\Image\freon.jpg">
				<h4>Freon 22</h4>
				<p>Rp. 300.000</p>
			</div>
		</div>
		<h2 class="title">Latest Products</h2>
		<div class="row">
			<div class="col-4">
				<img src="..\Image\freon.jpg">
				<h4>Freon 22</h4>
				<p>Rp. 300.000</p>
			</div>
			<div class="col-4">
				<img src="..\Image\freon.jpg">
				<h4>Freon 22</h4>
				<p>Rp. 300.000</p>
			</div>
			<div class="col-4">
				<img src="..\Image\freon.jpg">
				<h4>Freon 22</h4>
				<p>Rp. 300.000</p>
			</div>
			<div class="col-4">
				<img src="..\Image\freon.jpg">
				<h4>Freon 22</h4>
				<p>Rp. 300.000</p>
			</div>
			<div class="col-4">
				<img src="..\Image\freon.jpg">
				<h4>Freon 22</h4>
				<p>Rp. 300.000</p>
			</div>
			<div class="col-4">
				<img src="D:\Kerja\Project\Website DHA\Image\freon.jpg">
				<h4>Freon 22</h4>
				<p>Rp. 300.000</p>
			</div>
			<div class="col-4">
				<img src="..\Image\freon.jpg">
				<h4>Freon 22</h4>
				<p>Rp. 300.000</p>
			</div>
			<div class="col-4">
				<img src="..\Image\freon.jpg">
				<h4>Freon 22</h4>
				<p>Rp. 300.000</p>
			</div>
		</div>
	</div>

<!------- penawaran ------->

	<div class="offer">
		<div class="sml-container">
			<div class="row">
				<div class="col-2">
					<img src="..\Image\freon.png" class="offer-img">
				</div>
				<div class="col-2">
					<p>Exclusively Available on UD. DHA</p>
					<h1>FREON 404</h1>
					<small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing</small>
					<a href="detail.html" class="btn">Buy Now &#8594;</a>
				</div>
			</div>
		</div>
	</div>

<!------- testimoni ------->

	<div class="testimonial">
		<div class="sml-container">
			<div class="row">
				<div class="col-3">
					<img src="..\Image\1.jpg">
					<h3>Denny</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
				<div class="col-3">
					<img src="..\Image\2.jpg">
					<h3>Indra</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
				<div class="col-3">
					<img src="..\Image\3.jpg">
					<h3>Putra</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			</div>
		</div>
	</div>

<!------- merek ------->
	<div class="brands">
		<div class="sml-container">
			<div class="row">
				<div class="col-5">
					<img src="..\Image\4.png">
				</div>
				<div class="col-5">
					<img src="..\Image\5.png">
				</div>
				<div class="col-5">
					<img src="..\Image\6.png">
				</div>
				<div class="col-5">
					<img src="..\Image\7.png">
				</div>
				<div class="col-5">
					<img src="..\Image\8.png">
				</div>
				<div class="col-5">
					<img src="..\Image\9.png">
				</div>
				<div class="col-5">
					<img src="..\Image\10.png">
				</div>
				<div class="col-5">
					<img src="..\Image\11.png">
				</div>
				<div class="col-5">
					<img src="..\Image\12.png">
				</div>
				<div class="col-5">
					<img src="..\Image\13.png">
				</div>
			</div>
		</div>
	</div>

<!------- footer ------->

	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="fotcol-1">
					<img src="..\Image\v2 putih.png">
					<p>Our purpose is to sustainably make easy by providing all kinds of products accessible to the many.</p>
				</div>
				<div class="fotcol-2">
					<h3>Follow Us</h3>
					<ul>
						<li>Facebook</li>
						<li>Twitter</li>
						<li>Instagram</li>
					</ul>
				</div>
			</div>
			<hr>
			<p class="copyright">&copy; UD. DHA 2021, All right reserved.</p>
		</div>
	</div>

<!------- toggle menu ------->

	<script>
		var MenuItems = document.getElementById("MenuItems");
		
		MenuItems.style.maxHeight = "0px;"

		function menutoggle() {
			if(MenuItems.style.maxHeight == "0px")
			{
				MenuItems.style.maxHeight = "200px"
			}
			else
			{
				MenuItems.style.maxHeight = "0px"
			}
		}
	</script>

</body>
</html>